	<div class="tab tab_picks_grupo clearfix">
		<table>
			<tr class="table_title">
				<th></th>
				{{# each fixtures.fixtures}}
					<th data-fixture="{{id}}">{{away_team.abbreviation}} @ {{home_team.abbreviation}}</th>
				{{/ each}}
				<th>MARCADOR EXACTO</th>
				<th>MINUTO PRIMER GOL</th>
				<th>MINUTO ÚLTIMO GOL</th>
				<th>TOTAL S12</th>
				<th></th>
			</tr>
			<tr>
				<td>RESULTADO</td>
				<td>LOC</td>
				<td>VIS</td>
				<td>EMP</td>
				<td>PD</td>
				<td>LOC</td>
				<td>VIS</td>
				<td>EMP</td>
				<td>EMP</td>
				<td>EMP</td>
				<td>PD</td>
				<td>PD</td>
				<td>PD</td>
				<td>PD</td>
				<td></td>
			</tr>
			<tr>
				<td>MI PICK</td>
				<td>LOC</td>
				<td>VIS</td>
				<td>EMP</td>
				<td>PD</td>
				<td>LOC</td>
				<td>VIS</td>
				<td>EMP</td>
				<td>EMP</td>
				<td>EMP</td>
				<td>PD</td>
				<td>PD</td>
				<td>PD</td>
				<td>PD</td>
				<td></td>
			</tr>
			<tr>
				<td>GANADOR</td>
				<td>LOC</td>
				<td>VIS</td>
				<td>EMP</td>
				<td>PD</td>
				<td>LOC</td>
				<td>VIS</td>
				<td>EMP</td>
				<td>EMP</td>
				<td>EMP</td>
				<td>PD</td>
				<td>PD</td>
				<td>PD</td>
				<td>PD</td>
				<td></td>
			</tr>
			<tr class="table_title">
				<th></th>
				{{# each fixtures.fixtures}}
					<th data-fixture="{{id}}">{{away_team.abbreviation}} @ {{home_team.abbreviation}}</th>
				{{/ each}}
				<th>MARCADOR EXACTO</th>
				<th>MINUTO PRIMER GOL</th>
				<th>MINUTO ÚLTIMO GOL</th>
				<th>TOTAL S12</th>
				<th></th>
			</tr>

			{{# each group_picks.items}}
				<tr class="player_info">
					<td class="player"><figure class="profile_pic"><img src="{{avatar}}"></figure> {{nick}}</td>
					{{# each picks}}
						{{# if_eq @key pick}}
							<td><img src="images/acierto.png"></td>
						{{/ if_eq}}
						<td>{{pres}}</td>
						
					{{/ each}}

					<td></td>
				</tr>
			{{/ each}}
			
		</table>
	</div><!-- picks_grupo -->