	<div class="tab tab_posiciones clearfix">
		{{# if full_standings}}
			<table>
				<tr class="table_title">
					<th>POS</th>
					<th>JUGADOR</th>
					<th>ACIERTOS</th>
					<th>A GANAR</th>
				</tr>
				{{# each full_standings.items}}
					<tr class="player_info">
						<td>{{rank}}</td>

						<td class="player">
							<figure class="profile_pic" >
								<img src="{{^ if_eq avatar '/img/profile-image-01.png'}}{{avatar}}{{/ if_eq}}{{# if_eq avatar '/img/profile-image-01.png'}}{{cordova_full_path}}images/profile_placeholder.png{{/ if_eq}}">
							</figure>
							{{nick}} {{# entry.number}}<sup>{{.}}</sup>{{/ entry.number}}
						</td>
						<td>{{points}}</td>
						<td class="ganar"><img src="images/billete.png">${{formatCurrency prize_amount}}</td>
					</tr>
				{{/ each}}
				
			</table>
		{{/ if}}
	</div><!-- posiciones -->