	<div class="tab tab_premios clearfix">
		<table>
			<tr class="table_title">
				<th>LUGAR</th>
				<th>PORCENTAJE</th>
				<th>MONTO</th>
			</tr>
			{{# prize_distribution.pool_prizes }}
				{{# each prizes }}
					<tr class="player_info">
						<td>{{position}} LUGAR</td>
						{{# if_eq type 'fixed'}}
							<td>{{calcPercentage amount ../available}}%</td>
							<td class="ganar"><img src="{{cordova_full_path}}images/billete.png">${{formatCurrency amount}} MXN</td>
						{{/ if_eq }}
						{{# if_eq type 'percentage'}}
							<td>{{formatCurrency percentage}}%</td>
							<td class="ganar"><img src="{{cordova_full_path}}images/billete.png">${{calcAmount normalized ../../prize_distribution.pool.available}} MXN</td>
						{{/ if_eq }}
					</tr>
				{{/ each }}
			{{/ prize_distribution.pool_prizes }}
		</table>
	</div><!-- premios -->