{{# if }}
			<div class="props clearfix">
				<h3>PROPS</h3>
				{{# data.props}}
					<div class="prop">
						<h3>{{label}}</h3>
						<div class="opciones_prop dos_opciones clearfix">
							<div class="opcion_prop clearfix">
								<input type="radio" name="prop_uno" vlaue="si">
								<span>SI</span>
							</div><!-- opcion_prop clearfix -->
							<div class="opcion_prop clearfix">
								<input type="radio" name="prop_uno" value="no">
								<span>NO</span>
							</div><!-- opcion_prop clearfix -->
						</div><!-- opciones_prop dos_opciones -->
					</div><!-- prop -->
				{{/ data.props}}
				<!-- <div class="prop clearfix">
					<h3>¿Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliqua?</h3>
					<div class="opciones_prop tres_opciones clearfix">
						<div class="opcion_prop clearfix">
							<input type="radio" name="prop_dos" vlaue="ame">
							<img src="{{cordova_full_path}}images/camisaamarilla.png">
							<span>AME</span>
						</div>
						<div class="opcion_prop clearfix">
							<input type="radio" name="prop_dos" vlaue="caz">
							<img src="{{cordova_full_path}}images/camisaroja.png">
							<span>CAZ</span>
						</div>
						<div class="opcion_prop clearfix">
							<input type="radio" name="prop_dos" vlaue="gua">
							<img src="{{cordova_full_path}}images/camisaverde.png">
							<span>GUA</span>
						</div>
					</div>
				</div>
				<div class="prop clearfix">
					<h3>¿Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliqua?</h3>
					<div class="opciones_prop cuatro_opciones clearfix">
						<div class="opcion_prop clearfix">
							<input type="radio" name="prop_tres" vlaue="ame">
							<img src="{{cordova_full_path}}images/camisaamarilla.png">
							<span>AME</span>
						</div>
						<div class="opcion_prop clearfix">
							<input type="radio" name="prop_tres" vlaue="caz">
							<img src="{{cordova_full_path}}images/camisaroja.png">
							<span>CAZ</span>
						</div>
						<div class="opcion_prop clearfix">
							<input type="radio" name="prop_tres" vlaue="gua">
							<img src="{{cordova_full_path}}images/camisaverde.png">
							<span>GUA</span>
						</div>
						<div class="opcion_prop clearfix">
							<input type="radio" name="prop_tres" vlaue="nec">
							<img src="{{cordova_full_path}}images/camisaazul.png">
							<span>NEC</span>
						</div>
					</div>
				</div>
			</div> props -->
			{{/ if }}