	<a class="link_wrapper" href="">
		<div class="quiniela 
						{{# upcoming}}quiniela_open{{/ upcoming}} 
						{{# live}}quiniela_live{{/ live}} 
						{{# closed}}quiniela_closed{{/ closed}} 
						soccer natural garantizado clearfix">
			<div class="quiniela_header clearfix">
				<div class="quiniela_iconos clearfix">
					<img src="{{cordova_full_path}}images/natural.png">
					<img src="{{cordova_full_path}}images/{{sport.icon}}.png">
				</div><!-- iconos -->
				<h2>{{name_replaced}}</h2>
			</div><!-- quiniela_header -->
			<div class="quiniela_content clearfix">
				<div class="quiniela_info clearfix">
					<span class="registros">REG: {{entry_count}}</span>
					<span class="cierre">CIERRE: {{date_format}}</span>
					{{!-- <span class="aciertos">ACIERTOS: 3/15</span> --}}
				</div><!-- quiniela_info -->
				<div class="quiniela_picks_ok clearfix">
					<span class="titulo">PICKS</span>
					<img src="{{cordova_full_path}}images/acierto.png">
				</div>
				<div class="quiniela_aganar clearfix">
					<span class="titulo">A GANAR</span>
					<span class="number">${{available}}</span>
				</div>
				<div class="quiniela_entrada clearfix">
					<span class="titulo">ENTRADA</span>
					<img src="{{cordova_full_path}}images/billecoin.png">
					<span class="number">${{entry_fee}}</span>
				</div>
				<div class="quiniela_bolsa clearfix">
					<span class="titulo">BOLSA</span>
					<img src="{{cordova_full_path}}images/garantizado.png">
					<span class="number guarantee">${{acum}}</span>
				</div>
			</div><!-- quiniela_content -->
		</div><!-- quiniela -->
	</a><!-- link_wrapper -->