{{# if privada}}
	{{!-- nothing --}}
{{ else}}

	<a class="link_wrapper hook" data-resource="detail" data-object="{{id}}" href="detail-quiniela.html?id={{id}} {{# each entries}}entries{{@first}}{{/ each}}">
		<div class="quiniela {{# if upcoming}}quiniela_open {{/ if}} {{# if featured}}featured {{/ if}} {{# if live}}quiniela_live {{/ if}} {{# if_eq status 'live'}}quiniela_live {{/ if_eq}} {{# if closed}}quiniela_closed {{/ if}} {{sport.name}} {{point_format}} garantizado clearfix">
			<div class="quiniela_header clearfix">
				<div class="quiniela_iconos clearfix">
					{{# if_eq format "line" }}
						<img src="{{full_path}}images/linea.png">
					{{/ if_eq }}
					{{# if_eq format "mixed" }}
						{{# if_eq point_format "natural" }}
							<img src="{{full_path}}images/natural.png">
						{{/ if_eq }}
					{{/ if_eq }}
					<img src="{{full_path}}images/{{# sport.icon}}{{.}}{{/ sport.icon}}{{# sport_icon_class}}{{.}}{{/ sport_icon_class}}.png">
				</div><!-- iconos -->
				<h2>{{name_replaced}}</h2>
			</div><!-- quiniela_header -->
			<div class="quiniela_content clearfix">
				<div class="quiniela_info clearfix">
					<span class="registros">REGISTROS: {{entry_count}}</span>
					<span {{# if_less time_left 86400}}data-countdown="{{deadline_tz}}"{{/ if_less }} class="cierre">CIERRE: {{^ if_less time_left 86400}}{{formatDate deadline_tz 'lll'}}{{/ if_less }}</span>
					{{# limited_capacity}}
						<span class="limite">Limitado a {{max_entries}} entradas</span>
					{{/ limited_capacity}}
					{{# if_less time_left 1}}
						<span class="limite">FINALIZÓ</span>
					{{/ if_less }}
					{{# if_eq status "live"}}
						<span class="live">JUGANDO</span>
					{{/ if_eq}}
					{{!-- <span class="aciertos">ACIERTOS: 3/15</span> --}}
				</div><!-- quiniela_info -->
				<div class="quiniela_entrada clearfix">
					<span class="titulo">ENTRADA {{full_path}}</span>
					{{# if_eq entry_currency 'real' }}
						<img src="{{full_path}}images/billecoin.png">
					{{/ if_eq }}
					{{# if_eq entry_currency 'pickcoin' }}
						<img src="{{full_path}}images/pickcoin.png">
					{{/ if_eq }}
					<span class="number">${{ formatCurrency entry_fee}}</span>
				</div>
				<div class="quiniela_aganar clearfix">
					<span class="titulo">BOLSA</span>
					{{# if guaranteed_prize}}
						<img src="{{full_path}}images/garantizado.png">
					{{/ if }}
					{{^ if guaranteed_prize}}
						<img src="{{full_path}}images/billete.png">
					{{/ if }}
					<span class="number">${{ formatCurrency available}}</span>
				</div>
			</div><!-- quiniela_content -->
		</div><!-- quiniela -->
	</a><!-- link_wrapper -->
{{/ if}}