	<div class="filtros_wrapper" style="display: none;" data-foo="bar">
		<div class="filtros overlay clearfix">
			<div class="filtros_moneda clearfix">
				<h3>MONEDA</h3>
				<ul class="clearfix">
					<li data="todos_moneda" class="selected"><h3>TODOS</h3></li>
					<li onclick="$('#realMoneyFilters').show(); $('#pickcoinFilters').hide(); "  data="money_moneda"><img src="{{cordova_full_path}}images/billete.png"></li>
					<li onclick="$('#realMoneyFilters').hide(); $('#pickcoinFilters').show(); " data="pickcoin_moneda"><img src="{{cordova_full_path}}images/pickcoin.png"></li>
				</ul>
				<ul id="realMoneyFilters" class="clearfix" id="money_moneda" style="display: none;">
					<li data="money_moneda"><img src="{{cordova_full_path}}images/billete.png"></li>
					<li data="money_moneda"><img src="{{cordova_full_path}}images/bill2.png"></li>
					<li data="money_moneda"><img src="{{cordova_full_path}}images/bill3.png"></li>
				</ul>
				<ul id="pickcoinFilters" class="clearfix" id="pickcoin_moneda" style="display: none;">
					<li data="money_moneda"><img src="{{cordova_full_path}}images/pickcoin.png"></li>
					<li data="money_moneda"><img src="{{cordova_full_path}}images/pic2.png"></li>
					<li data="money_moneda"><img src="{{cordova_full_path}}images/pic3.png"></li>
				</ul>
			</div><!-- filtros_moneda -->
			<div class="filtros_deporte clearfix">
				<h3>DEPORTE</h3>
				<ul class="clearfix">
					<li onclick="$('#deporte_soccer').hide();"  data="todos_deporte" class="selected"><h3>TODOS</h3></li>
					<li onclick="$('#deporte_soccer').show();" data="deporte_soccer"><img src="{{cordova_full_path}}images/icon-football.png"></li>
					<li onclick="$('#deporte_soccer').hide();"  data="deporte_basket"><img src="{{cordova_full_path}}images/ion-ios-basketball-outline.png"></li>
					<li  onclick="$('#deporte_soccer').hide();" data="deporte_baseball"><img src="{{cordova_full_path}}images/icon-baseball.png"></li>
					<li onclick="$('#deporte_soccer').hide();"  data="deporte_nfl"><img src="{{cordova_full_path}}images/icon-nfl.png"></li>
				</ul>
				<ul class="clearfix" id="deporte_soccer" style="display: none;">
					<li data="soccer_todas"><span>Todas</span></li>
					<li data="soccer_ligamx"><span>Liga MX</span></li>
					<li data="soccer_copamx"><span>Copa MX</span></li>
					<li data="soccer_laliga"><span>La Liga</span></li>
					<li data="soccer_premier"><span>Premier</span></li>
					<li data="soccer_champions"><span>Champions</span></li>
				</ul>
			</div><!-- filtros_deporte -->
			<div class="filtros_tipo clearfix">
				<h3>TIPO</h3>
				<ul class="clearfix">
					<li data="tipo_abiertas" class="selected"><h3>Abiertas</h3></li>
					<li data="tipo_limitadas"><h3>Cupo limitado</h3></li>
				</ul>
			</div><!-- filtros_deporte -->
			<div class="filtros_estado clearfix">
				<h3>ESTADO</h3>
				<ul class="clearfix">
					<li data="estado_procimas" class="selected"><h3>Próximas</h3></li>
					<li data="estado_live"><h3>En curso</h3></li>
					<li data="estado_finalizadas"><h3>Finalizadas</h3></li>
				</ul>
			</div><!-- filtros_deporte -->
		</div><!-- filtros overlay -->
	</div>