	<h3>PARTIDOS</h3>
	<div class="opciones_partido clearfix">
		<span>LOCAL</span> <span>EMP</span> <span>VISITANTE</span>
	</div><!-- opciones_partido -->
	{{# data.fixtures}}
		<ul data-id="{{id}}" class="partido radio_group clearfix">
			<li class="opcion_partido local clearfix">
				{{^ finished}}
					<input type="radio" id="local_{{id}}" name="{{id}}" value="pick-local-{{id}}">
				{{/ finished}}
				<div class="check"></div>	
				<label for="local_{{id}}" >
					<img src="{{cordova_full_path}}images/camisaverde.png">
					<div class="equipo">
						<span class="iniciales">{{home_team.abbreviation}}</span>
					</div><!-- equipo -->
				</label>						
				<div class="linea">
					{{# finished}}
						<span>
							{{score_away}}
						</span>
					{{/ finished}}
				</div><!-- linea -->
			</li><!-- opcion_partido -->
			<li class="opcion_partido {{# if ../data.sport_allow_ties}} empate {{/ if}} cierre clearfix">
				{{# if ../data.sport_allow_ties}}
					<input type="radio" id="tie_{{id}}" name="{{id}}" value="pick-tie-{{id}}">
					<div class="check"></div>	
					<label for="tie_{{id}}" >
						<div class="equipo">
							<span class="iniciales"></span>
						</div><!-- equipo -->
					</label>		
				{{/ if}}
				<span>{{ formatDate deadline 'lll' }}</span>
			</li><!-- opcion_partido -->
			<li class="opcion_partido visitante clearfix">
				{{^ finished}}
					<input type="radio" id="away_{{id}}" name="{{id}}" value="pick-away-{{id}}">
				{{/ finished}}
				<div class="check"></div>	
				<label for="away_{{id}}" >
					<img src="{{cordova_full_path}}images/camisaazul.png">
					<div class="equipo">
						<span class="iniciales">{{away_team.abbreviation}}</span>
					</div><!-- equipo -->
				</label>						
				<div class="linea">
					{{# finished}}
						<span>
							{{score_home}}
						</span>
					{{/ finished}}
				</div><!-- linea -->
			</li><!-- opcion_partido -->
		</ul>
	{{/ data.fixtures}}
		<div id="propsContainer" class="props clearfix clear_if_empty">
		{{# data.fixtures}}
			{{# props}}
				
				{{# if_eq type 'over_under'}}
					<div class="prop" data-fixture="{{fixture_id}}" data-prop="{{id}}">
						<h3>{{name}} {{../home_team.abbreviation}} VS {{../away_team.abbreviation}}</h3>
						<div class="opciones_prop dos_opciones clearfix">
							<div class="opcion_prop clearfix">
								<input type="radio" name="prop_uno" value="under">
								<span>Menor</span>
							</div>
							<div class="opcion_prop clearfix">
								<span>{{value}}</span>
							</div>
							<div class="opcion_prop clearfix">
								<input type="radio" name="prop_uno" value="over">
								<span>Mayor</span>
							</div>
						</div><!-- opciones_prop dos_opciones -->
					</div><!-- prop -->
				{{/ if_eq }}

			<!-- <div class="prop clearfix">
				<h3>¿Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliqua?</h3>
				<div class="opciones_prop tres_opciones clearfix">
					<div class="opcion_prop clearfix">
						<input type="radio" name="prop_dos" value="ame">
						<img src="{{cordova_full_path}}images/camisaamarilla.png">
						<span>AME</span>
					</div>
					<div class="opcion_prop clearfix">
						<input type="radio" name="prop_dos" value="caz">
						<img src="{{cordova_full_path}}images/camisaroja.png">
						<span>CAZ</span>
					</div>
					<div class="opcion_prop clearfix">
						<input type="radio" name="prop_dos" value="gua">
						<img src="{{cordova_full_path}}images/camisaverde.png">
						<span>GUA</span>
					</div>
				</div>
			</div>
			<div class="prop clearfix">
				<h3>¿Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliqua?</h3>
				<div class="opciones_prop cuatro_opciones clearfix">
					<div class="opcion_prop clearfix">
						<input type="radio" name="prop_tres" value="ame">
						<img src="{{cordova_full_path}}images/camisaamarilla.png">
						<span>AME</span>
					</div>
					<div class="opcion_prop clearfix">
						<input type="radio" name="prop_tres" value="caz">
						<img src="{{cordova_full_path}}images/camisaroja.png">
						<span>CAZ</span>
					</div>
					<div class="opcion_prop clearfix">
						<input type="radio" name="prop_tres" value="gua">
						<img src="{{cordova_full_path}}images/camisaverde.png">
						<span>GUA</span>
					</div>
					<div class="opcion_prop clearfix">
						<input type="radio" name="prop_tres" value="nec">
						<img src="{{cordova_full_path}}images/camisaazul.png">
						<span>NEC</span>
					</div>
				</div>
			</div> props -->
			{{/ props}}
		{{/ data.fixtures}}
		</div> <!-- props -->