	<h3>PARTIDOS</h3>
	<div class="opciones_partido clearfix">
		<span>LOCAL</span> <span>EMPATE</span> <span>VISITA</span>
	</div><!-- opciones_partido -->
	{{# data.fixtures}}
		<div data-id="{{id}}" class="partido clearfix">
			<div class="opcion_partido local clearfix">
				{{^ finished}}
					<input type="radio" id="local_{{id}}" name="{{id}}" value="pick-local-{{id}}">
				{{/ finished}}
				<div class="check"></div>	
				<label for="local_{{id}}" >
					<img src="{{cordova_full_path}}images/camisaverde.png">
					<div class="equipo">
						<span class="iniciales">{{home_team.abbreviation}}</span>
					</div><!-- equipo -->
				</label>						
				<div class="linea">
					{{# finished}}
						<span>
							{{score_away}}
						</span>
					{{/ finished}}
				</div><!-- linea -->
			</div><!-- opcion_partido -->
			<div class="opcion_partido {{# if allow_ties}} empate {{/ if}} cierre clearfix">
				{{# if allow_ties}}{{/ if}}
				<input type="radio" name="{{id}}" value="pick-tie-{{id}}" id="empate">
				<span>{{ formatDate deadline 'lll' }}</span>
			</div><!-- opcion_partido -->
			<div class="opcion_partido visitante clearfix">
				{{^ finished}}
					<input type="radio" id="away_{{id}}" name="{{id}}" value="pick-away-{{id}}">
				{{/ finished}}
				<div class="check"></div>	
				<label for="away_{{id}}" >
					<img src="{{cordova_full_path}}images/camisaazul.png">
					<div class="equipo">
						<span class="iniciales">{{away_team.abbreviation}}</span>
					</div><!-- equipo -->
				</label>						
				<div class="linea">
					{{# finished}}
						<span>
							{{score_home}}
						</span>
					{{/ finished}}
				</div><!-- linea -->
			</div><!-- opcion_partido -->
		</div><!-- partido -->
	{{/ data.fixtures}}