	<p style="display: none;" class="instructions">Completa tus picks y guarda tu selección.</p>
	<h3>PARTIDOS</h3>
	<div class="opciones_partido clearfix">
		<span>LOCAL</span> <span>{{# if data.sport_allow_ties}}EMPATE{{/ if}}{{# data.fixtures.0.advantage}}LÍNEA{{/ data.fixtures.0.advantage}}</span> <span>VISITANTE</span>
	</div><!-- opciones_partido -->
	{{# each data.fixtures}}
		<ul data-id="{{id}}" class="partido radio_group clearfix">
			<li class="opcion_partido local clearfix">
				{{^ finished}}
					<input type="hidden" name="picks[{{id}}][id]" value="null">
					<input type="hidden" name="picks[{{id}}][fixture_id]" value="{{id}}">
					<input type="hidden" class="missing_entry" name="picks[{{id}}][entry_id]" value="null">
					<input type="hidden" name="picks[{{id}}][week_id]" value="{{week_id}}">
					<input type="hidden" class="missing_pool" name="picks[{{id}}][pool_id]" value="">
					<input type="radio" id="local_{{id}}" name="picks[{{id}}][pick]" value="home">
				{{/ finished}}
				<div class="check"></div>	
				<label class="local_sel" for="local_{{id}}" >
					<img src="{{cordova_full_path}}images/camisaverde.png">
					<div class="equipo">
						<span class="iniciales">{{home_team.abbreviation}} {{# period}}<i class="period">{{.}}</i>{{/ period}}</span>
					</div><!-- equipo -->
				</label>
			</li><!-- opcion_partido -->
			<li class="opcion_partido {{# if ../data.sport_allow_ties}} empate {{/ if}} cierre clearfix">
				{{# if ../data.sport_allow_ties}}
					<input type="hidden" name="picks[{{id}}][id]" value="null">
					<input type="hidden" name="picks[{{id}}][fixture_id]" value="{{id}}">
					<input type="hidden" class="missing_entry" name="picks[{{id}}][entry_id]" value="null">
					<input type="hidden" name="picks[{{id}}][week_id]" value="{{week_id}}">
					<input type="hidden" class="missing_pool" name="picks[{{id}}][pool_id]" value="">
					<input type="radio" id="tie_{{id}}" name="picks[{{id}}][pick]" value="tie">
					<div class="check"></div>
					<label class="empate_sel" for="tie_{{id}}" >
						<div class="equipo">
							<span class="iniciales"></span>
						</div><!-- equipo -->
					</label>		
				{{/ if}}
				{{# if advantage}}
					<span class="linea home">
						{{# if_eq favorite 'home'}}
							<p>{{advantage}}</p>		
						{{/ if_eq}}
					</span>
					<span class="linea pd">
						{{# if_eq favorite 'pd'}}
							<p>PD</p>		
						{{/ if_eq}}
					</span>
					<span class="linea away">
						{{# if_eq favorite 'away'}}
							<p>{{advantage}}</p>		
						{{/ if_eq}}
					</span>
					
				{{/ if}}
				<span>Cierre: {{ formatDate deadline 'lll' }}</span>
			</li><!-- opcion_partido -->
			<li class="opcion_partido visitante clearfix">
				{{^ finished}}
					<input type="hidden" name="picks[{{id}}][id]" value="null">
					<input type="hidden" name="picks[{{id}}][fixture_id]" value="{{id}}">
					<input type="hidden" class="missing_entry" name="picks[{{id}}][entry_id]" value="null">
					<input type="hidden" name="picks[{{id}}][week_id]" value="{{week_id}}">
					<input type="hidden" class="missing_pool" name="picks[{{id}}][pool_id]" value="">
					<input type="radio" id="away_{{id}}" name="picks[{{id}}][pick]" value="away">
				{{/ finished}}
				<div class="check"></div>	
				<label class="away_sel" for="away_{{id}}" >
					<img src="{{cordova_full_path}}images/camisaazul.png">
					<div class="equipo">
						<span class="iniciales">{{away_team.abbreviation}} {{# period}}<i class="period">{{.}}</i>{{/ period}}</span>
					</div><!-- equipo -->
				</label>						
				<div class="linea">
					
				</div><!-- linea -->
			</li><!-- opcion_partido -->
		</ul>

	{{/ each}}
	<div id="propsContainer" class="props clearfix clear_if_empty">
		<h3>PROPS</h3>
		<ul data-id="{{id}}" class="radio_group clearfix">
			
			{{# each data.fixtures}}
				{{# each props}}
				
					{{# unless boolean}}
						<li class="prop clearfix" data-fixture="{{fixture_id}}" data-prop="{{id}}">
							<h3>{{name}} {{../home_team.abbreviation}} VS {{../away_team.abbreviation}}</h3>
							<div class="opciones_prop tres_opciones clearfix">
								<div class="opcion_prop opcion_partido local clearfix">
									<input type="hidden" name="picks_props[{{id}}][id]" value="null">
									<input type="hidden" name="picks_props[{{id}}][fixture_id]" value="{{fixture_id}}">
									<input type="hidden" class="missing_entry" name="picks_props[{{id}}][entry_id]" value="null">
									<input type="hidden" name="picks_props[{{id}}][prop_id]" value="{{id}}">
									<input type="hidden" class="missing_pool" name="picks_props[{{id}}][pool_id]" value="">
									<input type="radio" id="prop_under_{{id}}" name="picks_props[{{id}}][pick]" value="under">
									<div class="check"></div>	
									<label class="under_sel" for="prop_under_{{id}}" >
										<div class="equipo">
											<span class="iniciales">Menor</span>
										</div><!-- equipo -->
									</label>	
								</div>
								<div class="opcion_prop empate clearfix">
									<span>{{value}}</span>
								</div>
								<div class="opcion_prop opcion_partido visitante clearfix">
									<input type="hidden" name="picks_props[{{id}}][id]" value="null">
									<input type="hidden" name="picks_props[{{id}}][fixture_id]" value="{{fixture_id}}">
									<input type="hidden" class="missing_entry" name="picks_props[{{id}}][entry_id]" value="null">
									<input type="hidden" name="picks_props[{{id}}][prop_id]" value="{{id}}">
									<input type="hidden" class="missing_pool" name="picks_props[{{id}}][pool_id]" value="">
									<input type="radio" id="prop_over_{{id}}" name="picks_props[{{id}}][pick]" value="over">
									<div class="check"></div>	
									<label class="over_sel" for="prop_over_{{id}}" >
										<div class="equipo">
											<span class="iniciales">Mayor</span>
										</div><!-- equipo -->
									</label>
								</div>
							</div><!-- opciones_prop tres_opciones -->
												
						</li><!-- opcion_prop -->
						
					{{/ unless }}

					{{# if boolean}}
						<li class="prop clearfix" data-fixture="{{fixture_id}}" data-prop="{{id}}">
							<h3>{{name}} {{../home_team.abbreviation}} VS {{../away_team.abbreviation}}</h3>
							<div class="opciones_prop dos_opciones clearfix">
								<div class="opcion_prop opcion_partido local clearfix">
									<input type="hidden" name="picks_props[{{id}}][id]" value="null">
									<input type="hidden" name="picks_props[{{id}}][fixture_id]" value="{{fixture_id}}">
									<input type="hidden" class="missing_entry" name="picks_props[{{id}}][entry_id]" value="null">
									<input type="hidden" name="picks_props[{{id}}][prop_id]" value="{{id}}">
									<input type="hidden" class="missing_pool" name="picks_props[{{id}}][pool_id]" value="">
									<input type="radio" id="prop_under_{{id}}" name="picks_props[{{id}}][pick]" value="1">
									<div class="check"></div>	
									<label class="yes_sel" for="prop_under_{{id}}" >
										<div class="equipo">
											<span class="iniciales">Si</span>
										</div><!-- equipo -->
									</label>	
								</div>
								<div class="opcion_prop opcion_partido clearfix">
									<span></span>
								</div>
								<div class="opcion_prop opcion_partido visitante clearfix">
									<input type="radio" id="prop_over_{{id}}" name="picks_props[{{id}}][pick]" value="0">
									<div class="check"></div>	
									<label class="no_sel" for="prop_over_{{id}}" >
										<div class="equipo">
											<span class="iniciales">No</span>
										</div><!-- equipo -->
									</label>
								</div>
							</div><!-- opciones_prop dos_opciones -->
												
						</li><!-- opcion_prop -->
						
					{{/ if }}

				{{/ each}}
				
			{{/ each}}
	
		</ul>
	</div> <!-- props -->