	<h3>PARTIDOS</h3>
	<div class="opciones_partido clearfix">
		<span>LOCAL</span> <span>EMPATE</span> <span>VISITA</span>
	</div><!-- opciones_partido -->
	{{# data.data.fixtures}}
		fizruer
		<div data-id="{{id}}" class="partido clearfix">
			<div class="opcion_partido local clearfix">
				<input type="radio" name="ganador_uno" id="local">
				<img src="{{cordova_full_path}}images/camisaverde.png">
				<div class="equipo">
					<span class="iniciales">{{home_team.abbreviation}}</span>
				</div><!-- equipo -->
				<div class="linea">
					<span>{{# score_away_line}}({{.}}){{/ score_away_line}} {{score_away}}</span>
				</div><!-- linea -->
			</div><!-- opcion_partido -->
			<div class="opcion_partido cierre clearfix">
				<span>CIERRE: {{formatDate deadline}}</span>
			</div><!-- opcion_partido -->
			<div class="opcion_partido visitante clearfix">
				<input type="radio" name="ganador_uno" id="visitante">
				<img src="{{cordova_full_path}}images/camisaazul.png">
				<div class="equipo">
					<span class="iniciales">{{away_team.abbreviation}}</span>
				</div><!-- equipo -->
				<div class="linea">
					<span>{{# score_home_line}}({{.}}){{/ score_home_line}} {{score_home}}</span>
				</div><!-- linea -->
			</div><!-- opcion_partido -->
		</div><!-- partido -->
	{{/ data.data.fixtures}}