
	<div id="detailQuiniela" data-id="{{data.pool.id}}" data-entry="{{data.pool.entry_id}}" data-weekid="{{data.pool.week_id}}" class="content quiniela_single clearfix">
		<a class="link_wrapper">
			<div class="quiniela
			{{# if data.pool.upcoming}}quiniela_open{{/ if}} 
			{{# if data.pool.live}}quiniela_live{{/ if}} 
			{{# if_eq data.pool.status 'live'}}quiniela_live{{/ if_eq}} 
			{{# if data.pool.closed}}quiniela_closed{{/ if}} {{data.pool.sport.name}}
			{{# if_eq data.pool.format "natural" }} natural {{/ if_eq }} garantizado clearfix">
				<div class="quiniela_header clearfix">
					<div class="quiniela_iconos clearfix">
						<img src="{{cordova_full_path}}images/{{data.pool.sport.icon}}.png">
						{{# if_eq data.pool.point_format "line" }}
							<img src="{{cordova_full_path}}images/linea.png">
						{{/ if_eq }}
						{{# if_eq data.pool.point_format "natural" }}
							<img src="{{cordova_full_path}}images/natural.png">
						{{/ if_eq }}
					</div><!-- iconos -->
					<h2>{{data.pool.name_replaced}}</h2>
				</div><!-- quiniela_header -->
				<div class="quiniela_content clearfix">
					<div class="quiniela_info clearfix">
						<span class="registros">REG: {{data.pool.entry_count}}</span>
						<span class="cierre">{{^ if data.pool.closed}}CIERRE{{/ if}}{{# if data.pool.closed}}CERRÓ{{/ if}}: {{formatDate data.pool.deadline_tz 'lll'}}</span>
						{{# data.pool.limited_capacity}}
							<span class="limite">Limitado a {{data.pool.max_entries}} entradas</span>
						{{/ data.pool.limited_capacity}}
						{{# data.pool.closed}}
							<span class="limite">FINALIZÓ</span>
						{{/ data.pool.closed}}
						{{# if_eq status "live"}}
							<span class="live">EN CURSO</span>
						{{/ if_eq}}
					</div><!-- quiniela_info -->
					
					<div class="quiniela_entrada clearfix">
						<span class="titulo">ENTRADA</span>
						{{# if_eq data.pool.entry_currency 'real' }}
							<img src="{{cordova_full_path}}images/billecoin.png">
						{{/ if_eq }}
						{{# if_eq data.pool.entry_currency 'pickcoin' }}
							<img src="{{cordova_full_path}}images/pickcoin.png">
						{{/ if_eq }}
						<span class="number">${{ formatCurrency data.pool.entry_fee}}</span>
					</div>
					<div class="quiniela_bolsa clearfix">
						<span class="titulo">BOLSA</span>
						{{# if data.pool.guaranteed_prize}}
							<img src="{{cordova_full_path}}images/garantizado.png">
						{{/ if }}
						<span class="number">${{ formatCurrency data.pool.available}}</span>
					</div>
				</div><!-- quiniela_content -->
			</div><!-- quiniela -->
		</a><!-- link_wrapper -->
	{{^ data.closed}}

		<div class="registro_quiniela clearfix">
			<a id="reg_into_game" class="green_button">Registrarse</a>
		</div><!-- opciones registro -->
	
		<div class="quinielas_dropdowns clearfix">
			<form id="pickActionsForm" action="" method="POST">
				<select id="select_copy_picks" class="unique" name="select_copy_picks">
					<option value="">Copiar picks</option>
				</select>
			</form>
		</div><!-- dropdowns -->
		<p class="instructions">Elige tus picks y guarda tu selección.</p>
		<div id="insertPartidos" class="partidos clearfix radio_group">

		</div><!-- partidos -->
			
		{{# data.pool.tiebreakers}}
			<div class="desempates clearfix">
				<h3>DESEMPATE</h3>
					{{# each data.tiebreakers}}
						{{# if_eq type 'score'}}
							<div class="desempate desempate_uno clearfix">
								
								<div class="desempate_left">
									<span>{{label}}</span>
								</div>
								<div class="desempate_input">
									<span>LOC</span>
									<input type="tel" name="desempate_uno_local">
									<span>-</span>
									<input type="tel" name="desempate_uno_visitante">
									<span>VIS</span>
								</div><!-- desempate_input -->
							
							</div><!-- desempate_uno -->
						{{/ if_eq }}

						{{# if_eq type 'number'}}
							<div class="desempate desempate_dos clearfix">
								<div class="desempate_left">
									<span>{{label}}</span>
								</div>
								<div class="desempate_input">
									<input type="tel" name="desempate_dos_minuto">
								</div><!-- desempate_input -->
							</div><!-- desempate_dos -->
						{{/ if_eq }}
						
						{{# if_eq type 'week_goals'}}
							<div class="desempate desempate_dos clearfix">
								<div class="desempate_left">
									<span>{{label}}</span>
								</div>
								<div class="desempate_input">
									<input type="tel" name="desempate_dos_minuto">
								</div><!-- desempate_input -->
							</div><!-- desempate_dos -->
						{{/ if_eq }}

						{{# if_eq type 'other'}}
							<div class="desempate desempate_tres clearfix">
								<div class="desempate_left">
									<span>{{label}}</span>
								</div>
								<div class="desempate_input">
									<span>SI</span>
									<input type="radio" name="desempate_tres" value="si">
									<span>NO</span>
									<input type="radio" name="desempate_tres" value="no">
								</div><!-- desempate_input -->
							</div><!-- desempate_tres -->
						{{/ if_eq }}
					{{/ each}}

			</div><!-- dempates -->
		{{/ data.pool.tiebreakers }}

	{{/ data.closed}}
		
	{{# data.pool.closed}}

		<div id="insertResults" class="results clearfix">
			Inserte resultados
		</div><!-- partidos -->

	{{/ data.pool.closed}}

	{{^ data.pool.closed}}		
		<div id="registerNow" class="backed_modal clearfix" style="display: none;">
			<div class="quiniela_registro clearfix">
				<div class="quiniela_header clearfix">
					<div class="quiniela_iconos clearfix">
						{{# if_eq data.pool.point_format "line" }}
							<img src="{{cordova_full_path}}images/linea.png">
						{{/ if_eq }}
						{{# if_eq data.pool.point_format "natural" }}
							<img src="{{cordova_full_path}}images/natural.png">
						{{/ if_eq }}
						<img src="{{cordova_full_path}}images/{{data.pool.sport.icon}}.png">
					</div><!-- iconos -->
					<h2>{{data.pool.name_replaced}}</h2>
					{{# if_eq data.pool.entry_currency 'real' }}
						{{# if_less me.balanceReal data.pool.entry_fee}}
							<p class="error_inline clearfix">No tienes saldo suficiente para registrarte en esta quiniela.</p>
						{{/ if_less}}
					{{/ if_eq }}
					{{# if_eq data.pool.entry_currency 'pickcoin' }}
						{{# if_less me.balancePc data.pool.entry_fee}}
							<p class="error_inline clearfix">No tienes saldo suficiente para registrarte en esta quiniela.</p>
						{{/ if_less }}
					{{/ if_eq }}
				</div><!-- quiniela_header -->

				<form id="registerToQuinielaForm" method="POST" action="" >
					<input type="hidden" name="pool_id" id="pool_id" value="{{data.pool.id}}">
					<input type="hidden" name="entry_id" id="entry_id" value="">
					<div class="no_registros clearfix">
						<span class="pregunta">¿Cuántos registros quieres para esta quiniela?</span>
						<select class="no_check" name="num_entries" id="num_entries">
							{{{ numberOptions 1 40}}}
						</select>
					</div><!-- no_registros -->
					<div class="copiar_picks clearfix">
						<span class="pregunta">Utilizar los picks elegidos para todos los registros</span>
						<input type="checkbox" name="use_same_picks" value="1">
					</div><!-- no_registros -->
					<div class="balance clearfix">
						<div class="disponible clearfix">
							<p>Balance disponible:</p>
							{{# if_eq data.pool.entry_currency 'real' }}
								<div class="disponible_dinero clearfix">
									<img src="{{cordova_full_path}}images/billete.png">
									<p>${{ formatCurrency me.balanceReal}} MXN</p>
								</div><!-- disponible dinero -->
							{{/ if_eq }}
							{{# if_eq data.pool.entry_currency 'pickcoin' }}
								<div class="disponible_coins">
									<img src="{{cordova_full_path}}images/pickcoin.png">
									<p>{{ formatCurrency me.balancePc}}</p>
								</div><!-- disponible coins -->
							{{/ if_eq }}
						</div><!-- disponible -->
						<div class="descontaran clearfix">
							<p>Se descontarán:</p>
							{{# if_eq data.pool.entry_currency 'real' }}
								<div class="descontaran_dinero">
									<img src="{{cordova_full_path}}images/billete.png">
									<p data-realbalance="{{ formatCurrency me.balanceReal}}">${{ formatCurrency data.pool.entry_fee}} MXN</p>
								</div><!-- descontaran dinero -->
							{{/ if_eq }}
							{{# if_eq data.pool.entry_currency 'pickcoin' }}
								<div class="descontaran_coins">
									<img src="{{cordova_full_path}}images/pickcoin.png">
									<p data-pcbalance="{{ formatCurrency me.balancePc}}">{{ formatCurrency data.pool.entry_fee}}</p>
								</div><!-- descontaran coins -->
							{{/ if_eq }}
						</div><!-- descontaran -->
						<div class="total clearfix">
							<p>Entrada:</p>
							{{# if_eq data.pool.entry_currency 'real' }}
								<div class="total_dinero">
									<img src="{{cordova_full_path}}images/billete.png">
									<p>${{ formatCurrency data.pool.real_entry_fee}} MXN + ${{ formatCurrency data.pool.commission_fee}} comisión</p>
								</div><!-- total dinero -->
							{{/ if_eq }}
							{{# if_eq data.pool.entry_currency 'pickcoin' }}
								<div class="total_coins">
									<img src="{{cordova_full_path}}images/pickcoin.png">
									<p>{{ formatCurrency data.pool.real_entry_fee}} + {{ formatCurrency data.pool.commission_fee}} comisión</p>
								</div><!-- total coins -->
							{{/ if_eq }}
						</div><!-- total -->
					</div><!-- balance -->

					<div class="botones clarfix">
						<input type="submit" id="sendRegister" class="green_button" value="Registrarse" />
					</div>
				</form>
			</div><!-- quiniela-registro -->

		</div><!-- quiniela_registro_overlay -->
	{{/ data.pool.closed}}
		<a id="savePicks" class="green_button">Guardar picks</a>
	</div><!-- content -->