
	<div class="container clearfix">
		{{> header}}
		<div id="detailQuiniela" data-id="{{data.id}}" class="content quiniela_single clearfix">
			{{^ data.closed}}
				<div class="registro_quiniela clearfix">
					<a class="hook" data-resource="lobby" href="lobby.html"><img src="{{cordova_full_path}}images/cierre.png"></a>
					<a id="reg_into_game"><img src="{{cordova_full_path}}images/registrarse.png"></a>
				</div><!-- opciones registro -->
			{{/ data.closed}}
			<a class="link_wrapper" href="">
				<div class="quiniela
				{{# if data.upcoming}}quiniela_open{{/ if}} 
				{{# if data.live}}quiniela_live{{/ if}} 
				{{# if_eq data.status 'live'}}quiniela_live{{/ if_eq}} 
				{{# if data.closed}}quiniela_closed{{/ if}} {{data.sport.name}}
				{{# if_eq data.point_format "natural" }} natural {{/ if_eq }} garantizado clearfix">
					<div class="quiniela_header clearfix">
						<div class="quiniela_iconos clearfix">
							{{# if_eq data.point_format "line" }}
								<img src="{{cordova_full_path}}images/linea.png">
							{{/ if_eq }}
							{{# if_eq data.point_format "natural" }}
								<img src="{{cordova_full_path}}images/natural.png">
							{{/ if_eq }}
							<img src="{{cordova_full_path}}images/{{data.sport.icon}}.png">
						</div><!-- iconos -->
						<h2>{{name_replaced}}</h2>
					</div><!-- quiniela_header -->
					<div class="quiniela_content clearfix">

						<div class="quiniela_info clearfix">
							<span class="registros">REG: {{data.entry_count}}</span>
							<span class="cierre">{{^ if data.closed}}CIERRE{{/ if}}{{# if data.closed}}CERRÓ{{/ if}}: {{formatDate data.deadline_tz}}</span>
							{{# data.limited_capacity}}
								<span class="limite">Limitado a {{data.max_entries}} entradas</span>
							{{/ data.limited_capacity}}
							{{# data.closed}}
								<span class="limite">FINALIZÓ</span>
							{{/ data.closed}}
						</div><!-- quiniela_info -->
						<div class="quiniela_entrada clearfix">
							<span class="titulo">ENTRADA</span>
							{{# if_eq data.entry_currency 'real' }}
								<img src="{{cordova_full_path}}images/billecoin.png">
							{{/ if_eq }}
							{{# if_eq data.entry_currency 'pickcoin' }}
								<img src="{{cordova_full_path}}images/pickcoin.png">
							{{/ if_eq }}
							<span class="number">${{ formatCurrency data.entry_fee}}</span>
						</div>
						<div class="quiniela_bolsa clearfix">
							<span class="titulo">BOLSA</span>
							{{# if data.guaranteed_prize}}
								<img src="{{cordova_full_path}}images/garantizado.png">
							{{/ if }}
							<span class="number">${{ formatCurrency data.available}}</span>
						</div>
					</div><!-- quiniela_content -->
				</div><!-- quiniela -->
			</a><!-- link_wrapper -->
			{{^ data.closed}}
				<div class="quinielas_dropdowns clearfix">
						<a href="">Copiar picks</a>
						<a href="">Registros</a>			
				</div><!-- dropdowns -->
			{{/ data.closed}}

			<div id="insertPartidos" class="partidos clearfix">

				
			</div><!-- partidos -->
			
			{{# if data.tiebreakers}}
				<div class="desempates clearfix">
					<h3>DESEMPATE</h3>
						{{# data.tiebreakers}}
							{{# if_eq type 'score'}}
								<div class="desempate desempate_uno clearfix">
									<div class="desempate_left">
										<span>{{label}}</span>
									</div>
									<div class="desempate_input">
										<span>LOC</span>
										<input type="text" name="desempate_uno_local">
										<span>-</span>
										<input type="text" name="desempate_uno_visitante">
										<span>VIS</span>
									</div><!-- desempate_input -->
								</div><!-- desempate_uno -->
							{{/ if_eq }}

							{{# if_eq type 'number'}}
								<div class="desempate desempate_dos clearfix">
									<div class="desempate_left">
										<span>{{label}}</span>
									</div>
									<div class="desempate_input">
										<input type="text" name="desempate_dos_minuto">
									</div><!-- desempate_input -->
								</div><!-- desempate_dos -->
							{{/ if_eq }}

							{{# if_eq type 'other'}}
								<div class="desempate desempate_tres clearfix">
									<div class="desempate_left">
										<span>{{label}}</span>
									</div>
									<div class="desempate_input">
										<span>SI</span>
										<input type="radio" name="desempate_tres" value="si">
										<span>NO</span>
										<input type="radio" name="desempate_tres" value="no">
									</div><!-- desempate_input -->
								</div><!-- desempate_tres -->
							{{/ if_eq }}
						{{/ data.tiebreakers}}

				</div><!-- dempates -->
			{{/ if }}
		
			{{^ data.closed}}		
				<div id="registerNow" class="quiniela_registro_overlay content clearfix" style="display: none;">
					<div class="quiniela_registro clearfix">
						<div class="quiniela_header clearfix">
							<div class="quiniela_iconos clearfix">
								<img src="{{cordova_full_path}}images/natural.png">
								<img src="{{cordova_full_path}}images/soccer.png">
							</div><!-- iconos -->
							<h2>{{name_replaced}}</h2>
						</div><!-- quiniela_header -->
						<div class="no_registros clearfix">
							<span class="pregunta">¿Cuántos registros quieres para esta quiniela?</span>
							<select name="no_registros">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
							</select>
						</div><!-- no_registros -->
						<div class="copiar_picks clearfix">
							<span class="pregunta">Utilizar los picks elegidos para todos los registros</span>
							<input type="checkbox">
						</div><!-- no_registros -->
						<div class="balance clearfix">
							<div class="disponible clearfix">
								<p>Balance disponible:</p>
								<div class="disponible_dinero clearfix">
									<img src="{{cordova_full_path}}images/billete.png">
									<p>${{ formatCurrency me.balanceReal}} MXN</p>
								</div><!-- disponible dinero -->
								<div class="disponible_coins">
									<img src="{{cordova_full_path}}images/pickcoin.png">
									<p>{{ formatCurrency me.balancePc}}</p>
								</div><!-- disponible coins -->
							</div><!-- disponible -->
							<div class="descontaran clearfix">
								<p>Se descontarán:</p>
								<div class="descontaran_dinero">
									<img src="{{cordova_full_path}}images/billete.png">
									<p>$11 MXN</p>
								</div><!-- descontaran dinero -->
								<div class="descontaran_coins">
									<img src="{{cordova_full_path}}images/pickcoin.png">
									<p>0</p>
								</div><!-- descontaran coins -->
							</div><!-- descontaran -->
							<div class="total clearfix">
								<p>Entrada:</p>
								<div class="total_dinero">
									<img src="{{cordova_full_path}}images/billete.png">
									<p>$11 MXN + $0 comisión</p>
								</div><!-- total dinero -->
								<div class="total_coins">
									<img src="{{cordova_full_path}}images/pickcoin.png">
									<p>0 + 0 comisión</p>
								</div><!-- total coins -->
							</div><!-- total -->
						</div><!-- balance -->

						<div class="botones clarfix">
							<a id="closeRegister"><img src="{{cordova_full_path}}images/regresar.png"></a>
							<input type="submit" id="sendRegister">
						</div>
					</div><!-- quiniela-registro -->

				</div><!-- quiniela_registro_overlay -->
			{{/ data.closed}}
		</div><!-- content -->
		{{> footer}}
	</div><!-- container -->
	{{> filters}}
