
	<div class="container clearfix">
		{{> header}}

		<div class="content quiniela_single">
			<div class="registro_quiniela clearfix">
				<a href=""><img src="{{cordova_full_path}}images/cierre.png"></a>
				<a href=""><img src="{{cordova_full_path}}images/registrarse.png"></a>
			</div><!-- opciones registro -->
			<a class="link_wrapper" href="">
				<div class="quiniela quiniela_live soccer natural garantizado clearfix">
					<div class="quiniela_header clearfix">
						<div class="quiniela_iconos clearfix">
							<img src="{{cordova_full_path}}images/natural.png">
							<img src="{{cordova_full_path}}images/soccer.png">
						</div><!-- iconos -->
						<h2>5678 LOREM IPSUM DOLOR SIT AMET S12</h2>
					</div><!-- quiniela_header -->
					<div class="quiniela_content clearfix">
						<div class="quiniela_info clearfix">
							<span class="registros">REG: 1,234</span>
							<span class="cierre">CIERRE: 28.feb.2017</span>
							<span class="limite">Limitado a 1000 entradas</span>
						</div><!-- quiniela_info -->
						
						<div class="quiniela_entrada clearfix">
							<span class="titulo">ENTRADA</span>
							<img src="{{cordova_full_path}}images/billecoin.png">
							<span class="number">$1,234</span>
						</div>
						<div class="quiniela_bolsa clearfix">
							<span class="titulo">BOLSA</span>
							<img src="{{cordova_full_path}}images/garantizado.png">
							<span class="number guarantee">$5,678</span>
						</div>
					</div><!-- quiniela_content -->
				</div><!-- quiniela -->
			</a><!-- link_wrapper -->

			<div class="quinielas_dropdowns clearfix">
				
					<a href="">Copiar picks</a>

				
					<a href="">Registros</a>
			
			</div><!-- dropdowns -->
			<div class="partidos clearfix">
				<h3>PARTIDOS</h3>
				<div class="opciones_partido clearfix">
					<span>LOCAL</span>
					<span>EMPATE</span>
					<span>VISITA</span>
				</div><!-- opciones_partido -->
				<div class="partido clearfix">
					<div class="opcion_partido local clearfix">
						<input type="radio" name="ganador_uno" id="local">
						<img src="{{cordova_full_path}}images/camisaverde.png">
						<div class="equipo">
							<span class="iniciales">ABC</span>
						</div><!-- equipo -->
						<div class="linea">
							<span>(+4) 123</span>
						</div><!-- linea -->
					</div><!-- opcion_partido -->
					<div class="opcion_partido cierre clearfix">
						<span>CIERRE: 28.feb.17</span>
					</div><!-- opcion_partido -->
					<div class="opcion_partido visitante clearfix">
						<input type="radio" name="ganador_uno" id="visitante">
						<img src="{{cordova_full_path}}images/camisaazul.png">
						<div class="equipo">
							<span class="iniciales">ABC</span>
						</div><!-- equipo -->
						<div class="linea">
							<span>(+4) 123</span>
						</div><!-- linea -->
					</div><!-- opcion_partido -->
				</div><!-- partido -->
				<div class="partido clearfix">
					<div class="opcion_partido local clearfix">
						<input type="radio" name="ganador_dos" id="local">
						<img src="{{cordova_full_path}}images/camisablanca.png">
						<div class="equipo">
							<span class="iniciales">ABC</span>
						</div><!-- equipo -->
						<div class="linea">
							<span>(+4) 123</span>
						</div><!-- linea -->
					</div><!-- opcion_partido -->
					<div class="opcion_partido empate cierre clearfix">
						<input type="radio" name="ganador_dos" id="empate">
						<span>CIERRE: 28.feb.17</span>
					</div><!-- opcion_partido -->
					<div class="opcion_partido visitante clearfix">
						<input type="radio" name="ganador_dos" id="visitante">
						<img src="{{cordova_full_path}}images/camisaazul.png">
						<div class="equipo">
							<span class="iniciales">ABC</span>
						</div><!-- equipo -->
						<div class="linea">
							<span>(+4) 123</span>
						</div><!-- linea -->
					</div><!-- opcion_partido -->
				</div><!-- partido -->
				<div class="partido clearfix">
					<div class="opcion_partido local clearfix">
						<input type="radio" name="ganador_tres" id="local">
						<img src="{{cordova_full_path}}images/camisaamarilla.png">
						<div class="equipo">
							<span class="iniciales">ABC</span>
						</div><!-- equipo -->
						<div class="linea">
							<span>(+4) 123</span>
						</div><!-- linea -->
					</div><!-- opcion_partido -->
					<div class="opcion_partido empate cierre clearfix">
						<input type="radio" name="ganador_tres" id="empate">
						<span>CIERRE: 28.feb.17</span>
					</div><!-- opcion_partido -->
					<div class="opcion_partido visitante clearfix">
						<input type="radio" name="ganador_tres" id="visitante">
						<img src="{{cordova_full_path}}images/camisaroja.png">
						<div class="equipo">
							<span class="iniciales">ABC</span>
						</div><!-- equipo -->
						<div class="linea">
							<span>(+4) 123</span>
						</div><!-- linea -->
					</div><!-- opcion_partido -->
				</div><!-- partido -->
			</div><!-- partidos -->
			<div class="props clearfix">
				<h3>PROPS</h3>
				<div class="prop">
					<h3>¿Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliqua?</h3>
					<div class="opciones_prop dos_opciones clearfix">
						<div class="opcion_prop clearfix">
							<input type="radio" name="prop_uno" vlaue="si">
							<span>SI</span>
						</div><!-- opcion_prop clearfix -->
						<div class="opcion_prop clearfix">
							<input type="radio" name="prop_uno" value="no">
							<span>NO</span>
						</div><!-- opcion_prop clearfix -->
					</div><!-- opciones_prop dos_opciones -->
				</div><!-- prop -->
				<div class="prop clearfix">
					<h3>¿Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliqua?</h3>
					<div class="opciones_prop tres_opciones clearfix">
						<div class="opcion_prop clearfix">
							<input type="radio" name="prop_dos" vlaue="ame">
							<img src="{{cordova_full_path}}images/camisaamarilla.png">
							<span>AME</span>
						</div><!-- opcion_prop clearfix -->
						<div class="opcion_prop clearfix">
							<input type="radio" name="prop_dos" vlaue="caz">
							<img src="{{cordova_full_path}}images/camisaroja.png">
							<span>CAZ</span>
						</div><!-- opcion_prop clearfix -->
						<div class="opcion_prop clearfix">
							<input type="radio" name="prop_dos" vlaue="gua">
							<img src="{{cordova_full_path}}images/camisaverde.png">
							<span>GUA</span>
						</div><!-- opcion_prop clearfix -->
					</div><!-- opciones_prop tres_opciones -->
				</div><!-- prop -->
				<div class="prop clearfix">
					<h3>¿Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliqua?</h3>
					<div class="opciones_prop cuatro_opciones clearfix">
						<div class="opcion_prop clearfix">
							<input type="radio" name="prop_tres" vlaue="ame">
							<img src="{{cordova_full_path}}images/camisaamarilla.png">
							<span>AME</span>
						</div><!-- opcion_prop clearfix -->
						<div class="opcion_prop clearfix">
							<input type="radio" name="prop_tres" vlaue="caz">
							<img src="{{cordova_full_path}}images/camisaroja.png">
							<span>CAZ</span>
						</div><!-- opcion_prop clearfix -->
						<div class="opcion_prop clearfix">
							<input type="radio" name="prop_tres" vlaue="gua">
							<img src="{{cordova_full_path}}images/camisaverde.png">
							<span>GUA</span>
						</div><!-- opcion_prop clearfix -->
						<div class="opcion_prop clearfix">
							<input type="radio" name="prop_tres" vlaue="nec">
							<img src="{{cordova_full_path}}images/camisaazul.png">
							<span>NEC</span>
						</div><!-- opcion_prop clearfix -->
					</div><!-- opciones_prop cuatro_opciones -->
				</div><!-- prop -->
			</div><!-- props -->
			<div class="desempates clearfix">
				<h3>DESEMPATE</h3>
					<div class="desempate desempate_uno clearfix">
						<div class="desempate_left">
							<span>Marcador del último partido</span>
						</div>
						<div class="desempate_input">
							<span>LOC</span>
							<input type="text" name="desempate_uno_local">
							<span>-</span>
							<input type="text" name="desempate_uno_visitante">
							<span>VIS</span>
						</div><!-- desempate_input -->
					</div><!-- desempate_uno -->
					<div class="desempate desempate_dos clearfix">
						<div class="desempate_left">
							<span>Minuto del primer gol</span>
						</div>
						<div class="desempate_input">
							<input type="text" name="desempate_dos_minuto">
						</div><!-- desempate_input -->
					</div><!-- desempate_dos -->
					<div class="desempate desempate_tres clearfix">
						<div class="desempate_left">
							<span>¿Lorem ipsum dolor sit amet, conse ctetur adipiscing elit?</span>
						</div>
						<div class="desempate_input">
							<span>SI</span>
							<input type="radio" name="desempate_tres" value="si">
							<span>NO</span>
							<input type="radio" name="desempate_tres" value="no">
						</div><!-- desempate_input -->
					</div><!-- desempate_tres -->
			</div><!-- dempates -->

		</div><!-- content -->
		{{> footer}}
	</div><!-- container -->
		
	{{> filters}}