
	<div class="container clearfix">
		{{> header}}
		<div class="content quiniela_single clearfix">
			<div class="registro_quiniela clearfix">
				<a class="hook" data-resource="lobby" href="lobby.html"><img src="{{cordova_full_path}}images/cierre.png"></a>
				<a href=""><img src="{{cordova_full_path}}images/registrarse.png"></a>
			</div><!-- opciones registro -->
			<a class="link_wrapper" href="">
				<div class="quiniela
				{{# if data.upcoming}}quiniela_open{{/ if}} 
				{{# if data.live}}quiniela_live{{/ if}} 
				{{# if_eq data.status 'live'}}quiniela_live{{/ if_eq}} 
				{{# if data.closed}}quiniela_closed{{/ if}} {{data.sport.name}}
				{{# if_eq data.point_format "natural" }} natural {{/ if_eq }} garantizado clearfix">
					<div class="quiniela_header clearfix">
						<div class="quiniela_iconos clearfix">
							{{# if_eq data.point_format "line" }}
								<img src="{{cordova_full_path}}images/linea.png">
							{{/ if_eq }}
							{{# if_eq data.point_format "natural" }}
								<img src="{{cordova_full_path}}images/natural.png">
							{{/ if_eq }}
							<img src="{{cordova_full_path}}images/{{data.sport.icon}}.png">
						</div><!-- iconos -->
						<h2>{{name_replaced}}</h2>
					</div><!-- quiniela_header -->
					<div class="quiniela_content clearfix">

						<div class="quiniela_info clearfix">
							<span class="registros">REG: {{data.entry_count}}</span>
							<span class="cierre">CIERRE: {{formatDate data.deadline_tz}}</span>
							{{# data.limited_capacity}}
								<span class="limite">Limitado a {{data.max_entries}} entradas</span>
							{{/ data.limited_capacity}}
						</div><!-- quiniela_info -->
						<div class="quiniela_entrada clearfix">
							<span class="titulo">ENTRADA</span>
							{{# if_eq data.entry_currency 'real' }}
								<img src="{{cordova_full_path}}images/billecoin.png">
							{{/ if_eq }}
							{{# if_eq data.entry_currency 'pickcoin' }}
								<img src="{{cordova_full_path}}images/pickcoin.png">
							{{/ if_eq }}
							<span class="number">${{ formatCurrency data.entry_fee}}</span>
						</div>
						<div class="quiniela_bolsa clearfix">
							<span class="titulo">BOLSA</span>
							{{# if data.guaranteed_prize}}
								<img src="{{cordova_full_path}}images/garantizado.png">
							{{/ if }}
							<span class="number">${{ formatCurrency data.available}}</span>
						</div>
					</div><!-- quiniela_content -->
				</div><!-- quiniela -->
			</a><!-- link_wrapper -->

			<div class="quinielas_dropdowns clearfix">
				
					<a href="">Copiar picks</a>

				
					<a href="">Registros</a>
			
			</div><!-- dropdowns -->
			<div class="partidos clearfix">
				<h3>PARTIDOS</h3>
				<div class="opciones_partido clearfix">
					<span>LOCAL</span>
					<span>EMPATE</span>
					<span>VISITA</span>
				</div><!-- opciones_partido -->
				<div class="partido clearfix">
					<div class="opcion_partido local clearfix">
						<input type="radio" name="ganador_uno" id="local">
						<img src="{{cordova_full_path}}images/camisaverde.png">
						<div class="equipo">
							<span class="iniciales">ABC</span>
						</div><!-- equipo -->
						<div class="linea">
							<span>(+4) 123</span>
						</div><!-- linea -->
					</div><!-- opcion_partido -->
					<div class="opcion_partido cierre clearfix">
						<span>CIERRE: 28.feb.17</span>
					</div><!-- opcion_partido -->
					<div class="opcion_partido visitante clearfix">
						<input type="radio" name="ganador_uno" id="visitante">
						<img src="{{cordova_full_path}}images/camisaazul.png">
						<div class="equipo">
							<span class="iniciales">ABC</span>
						</div><!-- equipo -->
						<div class="linea">
							<span>(+4) 123</span>
						</div><!-- linea -->
					</div><!-- opcion_partido -->
				</div><!-- partido -->
				<div class="partido clearfix">
					<div class="opcion_partido local clearfix">
						<input type="radio" name="ganador_dos" id="local">
						<img src="{{cordova_full_path}}images/camisablanca.png">
						<div class="equipo">
							<span class="iniciales">ABC</span>
						</div><!-- equipo -->
						<div class="linea">
							<span>(+4) 123</span>
						</div><!-- linea -->
					</div><!-- opcion_partido -->
					<div class="opcion_partido empate cierre clearfix">
						<input type="radio" name="ganador_dos" id="empate">
						<span>CIERRE: 28.feb.17</span>
					</div><!-- opcion_partido -->
					<div class="opcion_partido visitante clearfix">
						<input type="radio" name="ganador_dos" id="visitante">
						<img src="{{cordova_full_path}}images/camisaazul.png">
						<div class="equipo">
							<span class="iniciales">ABC</span>
						</div><!-- equipo -->
						<div class="linea">
							<span>(+4) 123</span>
						</div><!-- linea -->
					</div><!-- opcion_partido -->
				</div><!-- partido -->
				<div class="partido clearfix">
					<div class="opcion_partido local clearfix">
						<input type="radio" name="ganador_tres" id="local">
						<img src="{{cordova_full_path}}images/camisaamarilla.png">
						<div class="equipo">
							<span class="iniciales">ABC</span>
						</div><!-- equipo -->
						<div class="linea">
							<span>(+4) 123</span>
						</div><!-- linea -->
					</div><!-- opcion_partido -->
					<div class="opcion_partido empate cierre clearfix">
						<input type="radio" name="ganador_tres" id="empate">
						<span>CIERRE: 28.feb.17</span>
					</div><!-- opcion_partido -->
					<div class="opcion_partido visitante clearfix">
						<input type="radio" name="ganador_tres" id="visitante">
						<img src="{{cordova_full_path}}images/camisaroja.png">
						<div class="equipo">
							<span class="iniciales">ABC</span>
						</div><!-- equipo -->
						<div class="linea">
							<span>(+4) 123</span>
						</div><!-- linea -->
					</div><!-- opcion_partido -->
				</div><!-- partido -->
			</div><!-- partidos -->
			<div class="props clearfix">
				<h3>PROPS</h3>
				<div class="prop">
					<h3>¿Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliqua?</h3>
					<div class="opciones_prop dos_opciones clearfix">
						<div class="opcion_prop clearfix">
							<input type="radio" name="prop_uno" vlaue="si">
							<span>SI</span>
						</div><!-- opcion_prop clearfix -->
						<div class="opcion_prop clearfix">
							<input type="radio" name="prop_uno" value="no">
							<span>NO</span>
						</div><!-- opcion_prop clearfix -->
					</div><!-- opciones_prop dos_opciones -->
				</div><!-- prop -->
				<div class="prop clearfix">
					<h3>¿Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliqua?</h3>
					<div class="opciones_prop tres_opciones clearfix">
						<div class="opcion_prop clearfix">
							<input type="radio" name="prop_dos" vlaue="ame">
							<img src="{{cordova_full_path}}images/camisaamarilla.png">
							<span>AME</span>
						</div><!-- opcion_prop clearfix -->
						<div class="opcion_prop clearfix">
							<input type="radio" name="prop_dos" vlaue="caz">
							<img src="{{cordova_full_path}}images/camisaroja.png">
							<span>CAZ</span>
						</div><!-- opcion_prop clearfix -->
						<div class="opcion_prop clearfix">
							<input type="radio" name="prop_dos" vlaue="gua">
							<img src="{{cordova_full_path}}images/camisaverde.png">
							<span>GUA</span>
						</div><!-- opcion_prop clearfix -->
					</div><!-- opciones_prop tres_opciones -->
				</div><!-- prop -->
				<div class="prop clearfix">
					<h3>¿Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliqua?</h3>
					<div class="opciones_prop cuatro_opciones clearfix">
						<div class="opcion_prop clearfix">
							<input type="radio" name="prop_tres" vlaue="ame">
							<img src="{{cordova_full_path}}images/camisaamarilla.png">
							<span>AME</span>
						</div><!-- opcion_prop clearfix -->
						<div class="opcion_prop clearfix">
							<input type="radio" name="prop_tres" vlaue="caz">
							<img src="{{cordova_full_path}}images/camisaroja.png">
							<span>CAZ</span>
						</div><!-- opcion_prop clearfix -->
						<div class="opcion_prop clearfix">
							<input type="radio" name="prop_tres" vlaue="gua">
							<img src="{{cordova_full_path}}images/camisaverde.png">
							<span>GUA</span>
						</div><!-- opcion_prop clearfix -->
						<div class="opcion_prop clearfix">
							<input type="radio" name="prop_tres" vlaue="nec">
							<img src="{{cordova_full_path}}images/camisaazul.png">
							<span>NEC</span>
						</div><!-- opcion_prop clearfix -->
					</div><!-- opciones_prop cuatro_opciones -->
				</div><!-- prop -->
			</div><!-- props -->
			<div class="desempates clearfix">
				<h3>DESEMPATE</h3>
					<div class="desempate desempate_uno clearfix">
						<div class="desempate_left">
							<span>Marcador del último partido</span>
						</div>
						<div class="desempate_input">
							<span>LOC</span>
							<input type="text" name="desempate_uno_local">
							<span>-</span>
							<input type="text" name="desempate_uno_visitante">
							<span>VIS</span>
						</div><!-- desempate_input -->
					</div><!-- desempate_uno -->
					<div class="desempate desempate_dos clearfix">
						<div class="desempate_left">
							<span>Minuto del primer gol</span>
						</div>
						<div class="desempate_input">
							<input type="text" name="desempate_dos_minuto">
						</div><!-- desempate_input -->
					</div><!-- desempate_dos -->
					<div class="desempate desempate_tres clearfix">
						<div class="desempate_left">
							<span>¿Lorem ipsum dolor sit amet, conse ctetur adipiscing elit?</span>
						</div>
						<div class="desempate_input">
							<span>SI</span>
							<input type="radio" name="desempate_tres" value="si">
							<span>NO</span>
							<input type="radio" name="desempate_tres" value="no">
						</div><!-- desempate_input -->
					</div><!-- desempate_tres -->
			</div><!-- dempates -->
			<div class="quiniela_registro_overlay content clearfix">
				<div class="quiniela_registro clearfix">
					<div class="quiniela_header clearfix">
						<div class="quiniela_iconos clearfix">
							<img src="{{cordova_full_path}}images/natural.png">
							<img src="{{cordova_full_path}}images/soccer.png">
						</div><!-- iconos -->
						<h2>5678 LOREM IPSUM DOLOR SIT AMET S12</h2>
					</div><!-- quiniela_header -->
					<div class="no_registros clearfix">
						<span class="pregunta">¿Cuántos registros quieres para esta quiniela?</span>
						<select name="no_registros">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
					</div><!-- no_registros -->
					<div class="copiar_picks clearfix">
						<span class="pregunta">Utilizar los picks elegidos para todos los registros</span>
						<input type="checkbox">
					</div><!-- no_registros -->
					<div class="balance clearfix">
						<div class="disponible clearfix">
							<p>Balance disponible:</p>
							<div class="disponible_dinero clearfix">
								<img src="{{cordova_full_path}}images/billete.png">
								<p>$1,234 MXN</p>
							</div><!-- disponible dinero -->
							<div class="disponible_coins">
								<img src="{{cordova_full_path}}images/pickcoin.png">
								<p>1,234</p>
							</div><!-- disponible coins -->
						</div><!-- disponible -->
						<div class="descontaran clearfix">
							<p>Se descontarán:</p>
							<div class="descontaran_dinero">
								<img src="{{cordova_full_path}}images/billete.png">
								<p>$11 MXN</p>
							</div><!-- descontaran dinero -->
							<div class="descontaran_coins">
								<img src="{{cordova_full_path}}images/pickcoin.png">
								<p>0</p>
							</div><!-- descontaran coins -->
						</div><!-- descontaran -->
						<div class="total clearfix">
							<p>Entrada:</p>
							<div class="total_dinero">
								<img src="{{cordova_full_path}}images/billete.png">
								<p>$11 MXN + $0 comisión</p>
							</div><!-- total dinero -->
							<div class="total_coins">
								<img src="{{cordova_full_path}}images/pickcoin.png">
								<p>0 + 0 comisión</p>
							</div><!-- total coins -->
						</div><!-- total -->
					</div><!-- balance -->

					<div class="botones clarfix">
						<a><img src="{{cordova_full_path}}images/regresar.png"></a>
						<input type="submit">
					</div>
				</div><!-- quiniela-registro -->

			</div><!-- quiniela_registro_overlay -->
		</div><!-- content -->
		{{> footer}}
	</div><!-- container -->
	{{> filters}}
