
	<div class="container clearfix">
		
		{{> header}}

		<div id="detailQuinielaRegistered" data-id="{{data.id}}" class="content quiniela_single quiniela_registrada_single">
			
			<a class="link_wrapper">
				<div class="quiniela {{# if data.upcoming}}quiniela_open{{/ if}} 
				{{# if data.live}}quiniela_live{{/ if}} 
				{{# if_eq data.status 'live'}}quiniela_live{{/ if_eq}} 
				{{# if data.closed}}quiniela_closed{{/ if}} {{data.sport.name}}
				{{# if_eq data.point_format "natural" }} natural {{/ if_eq }}  clearfix">
					<div class="quiniela_header clearfix">
						<div class="quiniela_iconos clearfix">
							{{# if_eq data.point_format "line" }}
								<img src="{{cordova_full_path}}images/linea.png">
							{{/ if_eq }}
							{{# if_eq data.point_format "natural" }}
								<img src="{{cordova_full_path}}images/natural.png">
							{{/ if_eq }}
							<img src="{{cordova_full_path}}images/{{data.sport.icon}}.png">
						</div><!-- iconos -->
						<h2>{{data.name_replaced}}</h2>
					</div><!-- quiniela_header -->
					<div class="quiniela_content clearfix">
						<div class="quiniela_info clearfix">
							<span class="registros">REG: {{data.entry_count}}</span>
							<span class="cierre">{{^ if data.closed}}CIERRE{{/ if}}{{# if data.closed}}CERRÓ{{/ if}}: {{formatDate data.deadline_tz}}</span>
							{{# data.limited_capacity}}
								<span class="limite">Limitado a {{data.max_entries}} entradas</span>
							{{/ data.limited_capacity}}
							{{# data.closed}}
								<span class="limite">FINALIZÓ</span>
							{{/ data.closed}}
						</div><!-- quiniela_info -->
						
						<div class="quiniela_entrada clearfix">
							<span class="titulo">ENTRADA</span>
							{{# if_eq data.entry_currency 'real' }}
								<img src="{{cordova_full_path}}images/billecoin.png">
							{{/ if_eq }}
							{{# if_eq data.entry_currency 'pickcoin' }}
								<img src="{{cordova_full_path}}images/pickcoin.png">
							{{/ if_eq }}
							<span class="number">${{ formatCurrency data.entry_fee}}</span>
						</div>
						<div class="quiniela_bolsa clearfix">
							<span class="titulo">BOLSA</span>
							{{# if data.guaranteed_prize}}
								<img src="{{cordova_full_path}}images/garantizado.png">
							{{/ if }}
							<span class="number">${{ formatCurrency data.available}}</span>
						</div>
					</div><!-- quiniela_content -->
				</div><!-- quiniela -->
			</a><!-- link_wrapper -->
			<div class="tabs_quiniela clearfix">
				<ul>
					<li class="selected"><a href="">Picks</a></li>
					<li><a class="hook" data-resource="detail-postures" href="detail.html?registered=true&tab=postures">Posiciones</a></li>
					<li><a class="hook" data-resource="detail-chat" href="detail.html?registered=true&tab=chat">Chat</a></li>
					<li><a class="hook" data-resource="detail-prizes" href="detail.html?registered=true&tab=prizes">Premios</a></li>
					<li><a class="hook" data-resource="detail-group-picks" href="detail.html?registered=true&tab=group-picks">Picks de grupo</a></li>
					<li><a class="hook" data-resource="detail-scores" href="detail.html?registered=true&tab=scores">Marcadores</a></li>
				</ul>
			</div>
			<div class="quinielas_dropdowns clearfix">
				
					<select>
						<option>No se pueden copiar picks</option>
					</select>

				
					<select>
						<option>Registros</option>
					</select>

			
			</div><!-- dropdowns -->
			<div class="tab tab_picks partidos clearfix">
				<h3>PARTIDOS</h3>
				<div class="opciones_partido clearfix">
					<span>LOCAL</span>
					<span>EMPATE</span>
					<span>VISITA</span>
				</div><!-- opciones_partido -->
				<div class="partido partido_en_vivo clearfix">
					<div class="opcion_partido local radio_group clearfix">
						<input type="radio" name="ganador_uno" id="ganador_local_uno" value="">
						<div class="check"></div>
						<label for="ganador_local_uno">
							
							<img src="{{cordova_full_path}}images/camisaverde.png">
							<div class="equipo">
								<span class="iniciales">ABC</span>
							</div><!-- equipo -->
							<div class="linea">
								<span>(+4) 123</span>
							</div><!-- linea -->
						</label>

					</div><!-- opcion_partido -->
					<div class="opcion_partido cierre clearfix">
						<span>EN VIVO</span>
					</div><!-- opcion_partido -->
					<div class="opcion_partido radio_group visitante clearfix">
						<input type="radio" name="ganador_uno" id="ganador_visitante_uno">
						<div class="check"></div>
						<label for="ganador_visitante_uno">
							<img src="{{cordova_full_path}}images/camisaazul.png">
							<div class="equipo">
								<span class="iniciales">ABC</span>
							</div><!-- equipo -->
							<div class="linea">
								<span>(+4) 123</span>
							</div><!-- linea -->
						</label>
					</div><!-- opcion_partido -->
				</div><!-- partido -->
				<div class="partido partido_finalizado clearfix">
					<div class="opcion_partido local radio_group clearfix">
						<input type="radio" name="ganador_dos" id="ganador_local_dos" value="">
						<div class="check"></div>
						<label for="ganador_local_dos">
							
							<img src="{{cordova_full_path}}images/camisaverde.png">
							<div class="equipo">
								<span class="iniciales">ABC</span>
							</div><!-- equipo -->
							<div class="linea">
								<span>(+4) 123</span>
							</div><!-- linea -->
						</label>

					</div><!-- opcion_partido -->
					<div class="opcion_partido cierre clearfix">
						<span>FINALIZADO</span>
					</div><!-- opcion_partido -->
					<div class="opcion_partido radio_group visitante clearfix">
						<input type="radio" name="ganador_dos" id="ganador_visitante_dos">
						<div class="check"></div>
						<label for="ganador_visitante_dos">
							<img src="{{cordova_full_path}}images/camisaazul.png">
							<div class="equipo">
								<span class="iniciales">ABC</span>
							</div><!-- equipo -->
							<div class="linea">
								<span>(+4) 123</span>
							</div><!-- linea -->
						</label>
					</div><!-- opcion_partido -->
				</div><!-- partido -->
				<div class="partido clearfix">
					<div class="opcion_partido radio_group local clearfix">
						<input type="radio" name="ganador_tres" id="ganador_local_tres">
						<div class="check"></div>
						<label for="ganador_local_tres">
							<img src="{{cordova_full_path}}images/camisaamarilla.png">
							<div class="equipo">
								<span class="iniciales">ABC</span>
							</div><!-- equipo -->
							<div class="linea">
								<span>(+4) 123</span>
							</div><!-- linea -->
						</label>
					</div><!-- opcion_partido -->
					<div class="opcion_partido empate radio_group cierre clearfix">
						<input type="radio" name="ganador_tres" id="empate_tres">
						<div class="check"></div>
						<label for="empate_tres">
							<span>CIERRE: 28.feb.17</span>
						</label>
					</div><!-- opcion_partido -->
					<div class="opcion_partido visitante radio_group clearfix">
						<input type="radio" name="ganador_tres" id="ganador_visitante_tres">
						<div class="check"></div>
						<label for="ganador_visitante_tres">
							<img src="{{cordova_full_path}}images/camisaroja.png">
							<div class="equipo">
								<span class="iniciales">ABC</span>
							</div><!-- equipo -->
							<div class="linea">
								<span>(+4) 123</span>
							</div><!-- linea -->
						</label>
					</div><!-- opcion_partido -->
				</div><!-- partido -->
			</div><!-- partidos -->
			<div class="props clearfix">
				<h3>PROPS</h3>
				<div class="prop">
					<h3>¿Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliqua?</h3>
					<div class="opciones_prop dos_opciones clearfix">
						<div class="opcion_prop radio_group clearfix">
							<input type="radio" id="respuesta_prop_uno_si" name="prop_uno" vlaue="si">
							<div class="check"></div>
							<label for="respuesta_prop_uno_si">
								<span>SI</span>
							</label>
						</div><!-- opcion_prop clearfix -->
						<div class="opcion_prop radio_group clearfix">
							<input type="radio" name="prop_uno" id="respuesta_prop_uno_no" value="no">
							<div class="check"></div>
							<label for="respuesta_prop_uno_no">
								<span>NO</span>
							</label>
						</div><!-- opcion_prop clearfix -->
					</div><!-- opciones_prop dos_opciones -->
				</div><!-- prop -->
				<div class="prop clearfix">
					<h3>¿Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliqua?</h3>
					<div class="opciones_prop tres_opciones clearfix">
						<div class="opcion_prop radio_group clearfix">
							<input type="radio" name="prop_dos" id="prop_dos_respuesta_uno" vlaue="ame">
							<div class="check"></div>
							<label for="prop_dos_respuesta_uno">
								<img src="{{cordova_full_path}}images/camisaamarilla.png">
								<span>AME</span>
							</label>
						</div><!-- opcion_prop clearfix -->
						<div class="opcion_prop radio_group clearfix">
							<input type="radio" name="prop_dos" id="prop_dos_respuesta_dos" vlaue="caz">
							<div class="check"></div>
							<label for="prop_dos_respuesta_dos">
								<img src="{{cordova_full_path}}images/camisaroja.png">
								<span>CAZ</span>
							</label>
						</div><!-- opcion_prop radio_group clearfix -->
						<div class="opcion_prop radio_group clearfix">
							<input type="radio" name="prop_dos" id="prop_dos_respuesta_tres" vlaue="gua">
							<div class="check"></div>
							<label for="prop_dos_respuesta_tres">
								<img src="{{cordova_full_path}}images/camisaverde.png">
								<span>GUA</span>
							</label>
						</div><!-- opcion_prop clearfix -->
					</div><!-- opciones_prop tres_opciones -->
				</div><!-- prop -->
				<div class="prop clearfix">
					<h3>¿Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliqua?</h3>
					<div class="opciones_prop cuatro_opciones clearfix">
						<div class="opcion_prop radio_group clearfix">
							<input type="radio" name="prop_tres" id="prop_cuatro_respuesta_uno" vlaue="ame">
							<div class="check"></div>
							<label for="prop_cuatro_respuesta_uno">
								<span>AME</span>
							</label>
						</div><!-- opcion_prop radio_group clearfix -->
						<div class="opcion_prop radio_group clearfix">
							<input type="radio" id="prop_cuatro_respuesta_dos" name="prop_tres" vlaue="caz">
							<div class="check"></div>
							<label for="prop_cuatro_respuesta_dos">
								<span>CAZ</span>
							</label>
						</div><!-- opcion_prop radio_group clearfix -->
						<div class="opcion_prop radio_group clearfix">
							<input type="radio" id="prop_cuatro_respuesta_tres" name="prop_tres" vlaue="gua">
							<div class="check"></div>
							<label for="prop_cuatro_respuesta_tres">
								<span>GUA</span>
							</label>
						</div><!-- opcion_prop radio_group clearfix -->
						<div class="opcion_prop radio_group clearfix">
							<input type="radio" id="prop_cuatro_respuesta_cuatro" name="prop_tres" vlaue="nec">
							<div class="check"></div>
							<label for="prop_cuatro_respuesta_cuatro">
								<span>NEC</span>
							</label>
						</div><!-- opcion_prop clearfix -->
					</div><!-- opciones_prop cuatro_opciones -->
				</div><!-- prop -->
			</div><!-- props -->
			<div class="desempates clearfix">
				<h3>DESEMPATE</h3>
					<div class="desempate desempate_uno clearfix">
						<div class="desempate_left">
							<span>Marcador del último partido</span>
						</div>
						<div class="desempate_input">
							<span>LOC</span>
							<input type="text" name="desempate_uno_local">
							<span>-</span>
							<input type="text" name="desempate_uno_visitante">
							<span>VIS</span>
						</div><!-- desempate_input -->
					</div><!-- desempate_uno -->
					<div class="desempate desempate_dos clearfix">
						<div class="desempate_left">
							<span>Minuto del primer gol</span>
						</div>
						<div class="desempate_input">
							<input type="text" name="desempate_dos_minuto">
						</div><!-- desempate_input -->
					</div><!-- desempate_dos -->
					<div class="desempate desempate_tres clearfix">
						<div class="desempate_left">
							<span>¿Lorem ipsum dolor sit amet, conse ctetur adipiscing elit?</span>
						</div>
						<div class="desempate_input clearfix radio_group">
							<div class="desempate_tres_left">
								<label for="desempate_tres_over">
									<span>SI</span>
								</label>
								<input type="radio" id="desempate_tres_over" name="desempate_tres" value="si">
								<div class="check"></div>
							</div>
							<div class="desempate_tres_right">
								<label for="desempate_tres_under">
									<span>NO</span>
								</label>
								<input type="radio" id="desempate_tres_under" name="desempate_tres" value="no">
								<div class="check"></div>
							</div>
						</div><!-- desempate_input -->
					</div><!-- desempate_tres -->
			</div><!-- dempates -->
			
		</div><!-- content -->
		{{> footer}}
	</div><!-- container -->