	{{> header}}

		lorem ipsum feed
	<div class="contenedor">
		{{# data.pools}}
			<div class="quiniela clearfix" data-id="{{id}}">
				<img src="images/misquinielas.png">
				<div class="info_quiniela">
					<div class="info_quiniela_top">
						<h2>{{name_replaced}}</h2>
						<span class="fecha">{{date_format}}</span>
					</div>
					<div class="info_quiniela_bottom">
						<span>${{entry_fee}}</span>
						<span>Reg. {{entry_count}}/{{max_entries}}</span>
						<span>${{acum}}</span>
					</div>
				</div>
			</div> <!-- quiniela-->
		{{/ data.pools}}
		
		<div class="menu clearfix">
			<ul>
				<li class="selected"><img src="images/lobby.png"></li>
				<li><img src="images/misquinielas.png"></li>
				<li><img src="images/privadas.png"></li>
				<li><img src="images/profile.png"></li>
				<li><img src="images/cajero.png"></li>
			</ul>
		</div>
	</div> <!-- contenedor -->
