	
	<div id="profileTabs" class="container clearfix methods">
	
		<div class="content profile">
			
			<div class="tabs_quiniela clearfix">
				<ul>
					<li class="selected"><a>Tarjetas</a></li>
					<li><a class="hook" data-resource="profile-documents" href="profile.html?method=documents">Documentos</a></li>
					<li><a class="hook" data-resource="profile-withraw" href="profile.html?method=withraw">Retirar fondos</a></li>
					<li><a class="hook" data-resource="profile-history" href="profile.html?method=history">Historial</a></li>
					<li><a class="hook" data-resource="profile-notifications" href="profile.html?method=notifications">Notificaciones</a></li>
				</ul>
			</div>
			<div class="tab_profile radio_group tarjetas">
				<ul>
					{{# data.cards}}
						<li class="clearfix">
							<input type="radio" id="mastercard" name="tarjeta" value="{{id}}">
							<label for="mastercard" ><img src="{{cordova_full_path}}images/{{brand}}.png"><span class="terminacion">{{bank_name}} {{card_number}}</span></label>
							
							<div class="check"></div>
							<div class="edit_tarjeta">
								<a href=""><img src="{{cordova_full_path}}images/editar.png"></a>
								<a href=""><img src="{{cordova_full_path}}images/eliminar.png"></a>
							</div>							
						</li>
					{{/ data.cards}}

					{{^ data.cards}}
						<li class="clearfix">
							<p>No se encontró ningún método de pago.</p>					
						</li>
					{{/ data.cards}}
				</ul>
				<a class="agregar_tarjeta" onclick="$('#addNewCard').fadeIn();"><img src="{{cordova_full_path}}images/agregar_tarjeta.png"></a>
			</div>
			<div id="addNewCard" class="agregartarjeta clearfix backed_modal" style="display: none;">
				<h3>AGREGAR TARJETA</h3>
				<form id="addCardForm" method="POST" action="">
					<input name="holder_name" data-openpay-card="holder_name" id="holder_name" type="text" placeholder="Nombre como aparece en la tarjeta">
					<input name="card_number" data-openpay-card="card_number" id="card_number" type="text" placeholder="Número de tarjeta">
					<div class="fecha_vencimiento clearfix">
						<select name="expiration_month" id="expiration_month" data-openpay-card="expiration_month">
							<option>Mes</option>
							<option value="01">Ene</option>
							<option value="02">Feb</option>
							<option value="03">Mar</option>
							<option value="04">Abr</option>
							<option value="05">May</option>
							<option value="06">Jun</option>
							<option value="07">Jul</option>
							<option value="08">Ago</option>
							<option value="09">Sept</option>
							<option value="10">Oct</option>
							<option value="11">Nov</option>
							<option value="12">Dic</option>
						</select>
						<select name="expiration_year" id="expiration_year" data-openpay-card="expiration_year">
							<option>Año</option>
							<option value="17">2017</option>
							<option value="18">2018</option>
							<option value="19">2019</option>
							<option value="20">2020</option>
							<option value="21">2021</option>
							<option value="22">2022</option>
							<option value="23">2023</option>
							<option value="24">2024</option>
							<option value="25">2025</option>
							<option value="26">2026</option>
							<option value="27">2027</option>
							<option value="28">2028</option>
							<option value="29">2029</option>
							<option value="30">2030</option>
						</select>
						<input name="cvv2" id="cvv2" type="text" placeholder="CVV" data-openpay-card="cvv2">
					</div>
					<div class="submit_holder">
						<input type="submit" value="send">
					</div>
				</form>
			</div>
			<div class="legales clearfix">
				<a class="link_legal" onclick="window.open('https://www.pickwin.net/terminos-y-condiciones', '_blank', 'location=yes')" >Términos y condiciones | </a>
				<a class="link_legal" onclick="window.open('https://www.pickwin.net/aviso-de-privacidad', '_blank', 'location=yes')" >Política de privacidad</a>
			</div>
		</div><!-- content -->
	</div><!-- container -->